dashscope==1.23.5
decord==0.6.0
diffusers==0.32.0
easydict==1.13
einops==0.8.2
flash_attn==2.8.3
ftfy==6.3.1
imageio==2.35.1
matplotlib==3.10.8
numpy==2.4.4
omegaconf==2.3.0
packaging==26.0
Pillow==12.2.0
regex==2024.11.6
Requests==2.33.1
safetensors==0.7.0
scipy==1.17.1
seaborn==0.13.2
torch==2.5.1+cu118
torchvision==0.20.1+cu118
tqdm==4.67.1
transformers==4.57.1
xfuser==0.4.5
